body {
  margin: 0;
  padding: 0;
}

#touch-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#touch-area p {
  font-size: 2rem;
  text-align: center;
}
